<style>
    .image-gallery-index {
        overflow: auto;
        margin-left: -1% !important;
    }

    .image-gallery-index a {
        float: left;
        display: block;
        margin: 0 0 1% 1%;
        width: 19%;
        text-decoration: none !important;
    }

    .image-gallery-index a img {
        width: 100%;
        display: block;
    }

    .image-gallery-index a span {
        display: block;
        text-align: center;
        padding: 3px 0;
    }
</style>
<p class="image-gallery-index">
    {% for project in site.gallery %}
    {%- assign project_title = project.title -%}
    {%- assign project_url = project.url -%}
    {%- assign project_img = project.cover_img -%}
    {% include gallery/gallery-button.html %}
    {% endfor %}
</p>
